.body {
    font-family: Poppins;
}

.container {
    background-image: url(/ls2/imgs/Image.svg);
    padding: 367px 112px 369px 112px;
    background-size: cover;
    background-repeat:no-repeat ;
}

.popup {
    
    background-color: white;
    border-radius: 24px;
    padding: 48px 88px;
    position: relative;
    max-width: 704px;
    margin: 0 auto;
}

.popup__close {
    position: absolute;
    top: 32px;
    left: 32px;
}

.popup__logo {
    align-items: center;
    display: flex;
    justify-content: center;
    margin-bottom: 56px;
}

.popup__header {
    display: flex;
    justify-content: center;
    flex-direction: column;
    text-align: center;
    gap: 6px;
}

.popup__title {
    font-weight: 500;
    font-size: 32px;
}

.popup__step {
    font-weight: 500;
    font-size: 24px;
}

.form__input {
    border: 1px solid #66666659;
    border-radius: 12px;
    padding: 16px 8px;
}

.form__label {
    font-weight: 400;
    font-size: 16px;
    color: #666666;


}

.popup__form {
    display: flex;
    flex-direction: column;
    gap: 24px;
    margin-top: 32px;
}

.form__group {
    display: flex;
    flex-direction: column;
    gap: 4px
}

.phone-input-group {

    font-family: 'Poppins', sans-serif;
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.phone-input-group label {
    font-weight: 400;
    font-size: 16px;
    color: #666666;
}

.phone-input {
    display: flex;
    align-items: center;
    border: 1px solid #ccc;
    border-radius: 12px;
    padding: 16px 8px;
    background-color: white;
    gap: 10px;


}

.flag-dropdown {
    display: flex;
    align-items: center;
    gap: 6px;
    cursor: pointer;
}

.flag-dropdown img {
    width: 24px;
    height: 16px;
    object-fit: cover;
    border-radius: 2px;
}

.arrow {
    font-size: 12px;
    color: #333;
}

.country-code {
    font-size: 16px;
    color: #000;
}

.popup__toggle-email {
    text-align: right;
    text-decoration: underline;
    margin-top: 16px;
    font-weight: 400;
    font-size: 16px;
}

.popup__dob {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.dob__inputs {
    display: flex;
    gap: 20px;
}

.dob__field {
    display: flex;
    flex-direction: column;
    gap: 4px;
    width: 100%;
}

.dob__select {
    padding: 16px 8px;
    border-radius: 12px;
    border: 1px solid #66666659;
}

.btn-next {
    margin-top: 32px;
    width: 100%;
    padding: 16px 8px;
    border-radius: 40px;
    border: none;
    background: #1111112e;
    font-family: Poppins;
    font-weight: 500;
    font-style: Medium;
    font-size: 22px;
    line-height: 100%;
    letter-spacing: 0%;
    text-align: center;
    vertical-align: middle;
    color: white;
}

.dob__title {
    font-weight: 400;
    font-size: 16px;
}

.dob__label {
    color: #666666;
    font-weight: 400;
    font-size: 16px;
}